<mat-toolbar class="mat-tool-bar">
    <a>
        <img src="./../../../assets/images/logo.png">
    </a>
    <a>
        <div class="d-flex justify-content-space-around">
            <div class="header-middle">
                Products
            </div>
            <div class="header-middle">
                Solution
            </div>
            <div class="header-middle">
                Pricing
            </div>
            
        </div>
        
    </a>
    <a>
            <button mat-button class="login-button">Login</button>
            <button mat-button class="get-started-btn">Get Started</button>

    </a>
    

</mat-toolbar>